*{
    margin: 0;
}
.header{
    width: 100%;
}
.nav{width:963px; height:30px; background:#0033fe;}
.nav ul li{display:inline;padding:50px; }
.nav ul li a{text-decoration:none; color:#FFF;}
.nav ul li a:hover{color:#FF0; text-decoration:underline;}
.nav ul li a:active{color:#0F3;}
.setion{
    display: flex;
}
.setion img{
    padding: 20px;
}
.footer{
    width:963px; 
    height:30px; 
    background:#0033fe;
    clear:both;
}
.footer ul{padding-left:0px;}
.footer ul li{ height:30px; 
    display:inline; 
    color:#FFF; 
    text-align:center; 
    float:inherit;
    padding: 75px;
}