*{
    margin: 0;
}
.header{
    width: 100%;
}
.header img {
    width: 100%;
    height: auto;
}

.nav{ height:30px; background:#0033fe;}
.nav ul li{display:inline;padding:80px; }
.nav ul li a{text-decoration:none; color:#FFF;}
.nav ul li a:hover{color:#FF0; text-decoration:underline;}
.nav ul li a:active{color:#0F3;}
.setion{
    display: flex;
    gap:50px;
}
.setion .img {
    flex: 1;
}
.setion img{
    width: 100%;
    padding: 20px;
}
.footer{
    height:30px; 
    background:#0033fe;
    clear:both;
}
.footer ul{padding-left:0px;}
.footer ul li{ height:30px; 
    display:inline; 
    color:#FFF; 
    text-align:center; 
    float:inherit;
    padding: 75px;
}
.text-center {
    text-align: center;
}
.content{
    text-align: center;
}
.content1{
    text-align: center;
}
.monanhanoi{
    text-align: center;
}
